<div class="detailPage">
	<img src="<%= image %>" alt="" />
	<div>
		<h1><%= Title %></h1>
		<p><%= Genre %></p>
		<p><%= Year %></p>
		<p>🌟 <%= Rating %></p>


	</div>
		<p><%= Description %></p>

	<a href="<%- SRC %>"> <img src="../images/arrow.png" alt="" /></a>
</div>

